@charset"utf-8";

/*

Author: Brandon Lainey

Date: 2/3/2023

Description: CSS file for eportfolio site

*/


* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
ul,
ol,
nav,
menu {
    margin: 0;
    padding: 0;
}

.content_wrapper {
    max-width: 1000px;
    margin: auto;
}

ul,
ol {
    list-style: none;
}

header#header {
    background: #AD5A0E;
    color: #fff;
    border-bottom: 5px solid black;

    .nav_list {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;

        a {
            display: inline-block;
            padding: 15px;
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

main {
    min-height: 80vh;
    padding-top: 50px;
    text-align: center;

    p {
        line-height: 25px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &#skills3 {
        .flex_wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 60px;
            padding-left: 30px;
            padding-right: 30px;

            .flex_list {
                margin-bottom: 25px;
                list-style: none;

                .list_title {
                    font-size: 20px;
                    text-align: center;
                }

                li:not(.list_title) {
                    margin-bottom: 12px;
                    position: relative;
                    padding-left: 30px;

                    &::before {
                        content: '';
                        width: 12px;
                        height: 12px;
                        background: #000;
                        position: absolute;
                        left: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

        }
    }

    &#resume {
        .resume_content_wrapper {
            padding-top: 30px;
            padding-bottom: 30px;

            strong,
            h1,
            h2,
            h3,
            h4 {
                letter-spacing: 4px;
            }

            .resume_title {
                text-align: center;
                color: #5D5D5D;
            }

            .resume_body {
                width: 900px;
                margin: auto;
                // border: solid;
                opacity: .6;
                text-align: left;
                display: flex;
                position: relative;
                border-bottom: 2px solid #555;

                .resume_box_left {
                    min-width: 300px;
                    padding-right: 40px;
                }

                .resume_border_design {
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    left: calc(300px + 30px);
                    background: #555;

                    span {
                        display: inline-block;
                        width: 15px;
                        height: 20px;
                        position: absolute;
                        margin-left: -14px;
                        margin-top: -10px;
                        &:nth-child(1){
                            top: 15%;
                        }
                        &:nth-child(2){
                            top: 50%;
                        }
                        &:nth-child(3){
                            top: 80%;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            border: 15px solid;
                            border-color: black transparent transparent transparent;
                            top: 24.5px;
                            transform: scaleY(1.5);
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            border: 15px solid;
                            border-color: transparent transparent black transparent;
                            top: -20px;
                            transform: scaleY(1.5);

                        }

                    }
                }

                .resume_box_right {
                    flex-grow: 1;
                    width: 100%;
                    padding-left: 40px;
                }

                .strong_title {
                    font-size: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: block;
                }

                .resume_list {
                    border-bottom: 2px dashed #000;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                    }

                    &.languages_resume_list {
                        .list_name {
                            width: 70px;
                        }

                        li {
                            margin-bottom: 35px;
                        }

                        .rating_wrapper {
                            span {
                                display: inline-block;
                                width: 15px;
                                height: 20px;
                                position: relative;
                                margin-right: 20px;
                                margin-top: -10px;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    border: 15px solid;
                                    border-color: black transparent transparent transparent;
                                    top: 24.5px;
                                    transform: scaleY(1.5);
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    border: 15px solid;
                                    border-color: transparent transparent black transparent;
                                    top: -20px;
                                    transform: scaleY(1.5);

                                }

                                &.no_star {
                                    &::before {
                                        border-color: #E2E2E2 transparent transparent transparent;
                                    }

                                    &::after {
                                        border-color: transparent transparent #E2E2E2 transparent;

                                    }
                                }

                            }
                        }
                    }

                    &.skills_resume_list {
                        li {
                            margin-bottom: 20px;
                        }
                    }

                    &.education_resume_list {
                        li {
                            margin-bottom: 5px;
                        }
                    }

                    &.work_experience_resume_list,
                    &.marketing_resume_list {
                        li {
                            position: relative;
                            margin-left: 12px;

                            &::before {
                                width: 5px;
                                height: 5px;
                                border-radius: 100%;
                                background: #000;
                                content: '';
                                left: -12px;
                                position: absolute;
                                top: 6px;
                            }
                        }
                    }

                    &.marketing_resume_list {
                        margin-top: 12px;
                    }
                }

                .work_experience_header {
                    .strong_title {
                        margin-bottom: 5px;
                        padding-bottom: 0px;
                    }

                    .flex_text_helper {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

footer#footer {
    padding: 30px;
    background: #AD5A0E;
}